* {
    margin: 0px;
    font-family: 'Kanit', sans-serif;
  }


  #navbar {
    display: flex;
    flex-direction: row;
    position:relative;
    top: 0;
    left: 0;
    padding: 30px;
    a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 15px;
    }
    a:first-child {
      margin-left: 0px;
    }
  }

  .glow-on-hover {
    width: 14vh;
    height: 5vh;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
    color: #000
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }

.category_header {
    color: white;
    position: relative;
    width: 48vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 10vh;
    border-radius: 20px;
}

.container {
    text-align: center;
    position: relative;
    margin-top: 10vh;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border-radius: 20px;

        h3 {
            color: white;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        width: 20%;
        margin-left: 10px;
        padding: 10px;
        img {
            border-radius: 200px;
            object-fit:cover;
            display: block;
            margin: 0 auto;
            width: 100%;
            height: 40vh;
        }
        a {
            text-decoration: none;
            color: blue;
        }
        &_desc {
            
            color: white;
        }
    }
}


video {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

