
* {
  margin-bottom: 0px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: rgb(177, 175, 175);
  width: 100%;
  height: 70px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header img {
  width: 300px;
  height: 34.14px;
}
#header #nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  padding-right: 60px;
}

#email-form {
  margin-top: 30px;
}
#email-form h2 {
  text-align: center;
  padding-top: 50px;
}
#email-form input {
  display: block;
  margin: 0 auto;
}
#email-form input[type=submit] {
  margin-top: 10px;
  background-color: gold;
  padding: 8px;
  font-weight: bold;
  border: none;
}

#Features {
  display: flex;
  flex-direction: column;
}
#Features .grid {
  display: flex;
  align-content: center;
  margin-top: 50px;
}
#Features img {
  color: gold;
  height: 48px;
}
#Features .desc {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
#Features .desc p {
  margin: 0px;
}
#Features .desc h3 {
  margin: 0px;
}

iframe {
  padding: 50px 0px 50px 0px;
  display: block;
  margin: 0 auto;
}

#Pricing {
  display: flex;
  justify-content: space-between;
}
#Pricing .first_product {
  border: 1px solid black;
  min-width: 300px;
}
#Pricing .first_product h3 {
  margin: 0px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  background-color: grey;
}
#Pricing .first_product .price {
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
#Pricing .first_product p {
  text-align: center;
}
#Pricing .first_product button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: yellowgreen;
  border: none;
  padding: 10px;
}
#Pricing .second_product {
  border: 1px solid black;
  min-width: 300px;
}
#Pricing .second_product h3 {
  margin: 0px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  background-color: grey;
}
#Pricing .second_product .price {
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
#Pricing .second_product p {
  text-align: center;
}
#Pricing .second_product button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: yellowgreen;
  border: none;
  padding: 10px;
}
#Pricing .third_product {
  border: 1px solid black;
  min-width: 300px;
}
#Pricing .third_product h3 {
  margin: 0px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  background-color: grey;
}
#Pricing .third_product .price {
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
#Pricing .third_product p {
  text-align: center;
}
#Pricing .third_product button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: yellowgreen;
  border: none;
  padding: 10px;
}

footer {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  background-color: rgb(177, 175, 175);
}
footer a {
  padding-left: 30px;
  text-decoration: none;
  color: black;
}
footer a:first-child {
  padding-left: 0px;
}

@media only screen and (max-width: 900px) {
  #Pricing {
    flex-direction: column;
    margin: 0 auto;
    max-width: 43%;
    align-items: center;
  }
  #Pricing .first_product {
    margin-bottom: 20px;
  }
  #Pricing .second_product {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=lp_styles.css.map */